.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: #925c3e;
  color: white;
  z-index: 1;
  position: fixed;
  
}

span a {
  text-decoration: none;
  color: #c2c2c2;
  
}

mat-icon, span {
  color: #c2c2c2;
  margin-right: 25px;
  
}

.login {
  color: #fbe5cf;
  background-color: #925c3e;
  border: 1px #fbe5cf solid;
  border-radius: 5px;
  width: 110%;
  height: 40px;
}

.login:Hover {
  background-color: #fbe5cf;
  color: #925c3e;
}

span a:hover, mat-icon:hover {
  color: white;
}












/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
 
a{
    height: 70px;
    width: 150px;
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    height: 70px;
    width: 150px;
  }
  

  input {
    margin-top: 10px;
  }

  .szet .jobbra {
    margin-right: 1%;
    float: right;
  } */










/* .navbar {
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    background-color: gray;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    padding-top: 0%;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    float: left;
    margin-left: 12%;
    color: white;
    border-radius: 5px;
}

.navbar .hver:hover {
    background-color: black;
    height: 100%;
}


.bal {
   grid-column: 1/6;
}

 .jobb {
    grid-column: 7/13;
    margin-left: 40%;
}  */


























/* .navbar {
    width: 100%;
    background-color: #555;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  
.navbar a {
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-right: 12px;
}
  
.navbar .ikonok:hover {
    background-color: #000;
}
  
img {
    float: left;
}

  .jobbra {
    float: right;
}
  
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
} */