
  <div class="row">
      <app-header></app-header>
  </div>

  <div class="row"  id="carouselId">
      <div>
        <div class="row">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/images/elso.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/images/masodik.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/images/harmadik.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            
          </div>
        </div>
      
        <div class="row cardok">
          <h1 class="text-center mt-5">Legfelkapottabb termékeink a héten</h1>
          <h1 class="text-center mt-5"><a routerLink="/termekek">Termékek</a></h1>
          <div class="card" style="width: 18rem;">
            <img src="assets/images/zsomle.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Császárzsömle</h5>
              <p class="text-center"><button  class="btn btn-primary">Kosárba</button></p>
            </div>
          </div>
        
          <div class="card" style="width: 18rem;">
            <img src="assets/images/kifli.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Kifli</h5>
              <p class="text-center"><button  class="btn btn-primary">Kosárba</button></p>
            </div>
          </div>
        
          <div class="card" style="width: 18rem;">
            <img src="assets/images/brios.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Briós</h5>
              <p class="text-center"><button  class="btn btn-primary">Kosárba</button></p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <app-footer></app-footer>
  </div>



