<app-header></app-header>

<br>
<br>
<br>
<br>

<!-- 
    <label>Felhasználónév:</label>
    <input type="text" [(ngModel)]="user.username" name="username" required>
  
    <label>Jelszó:</label>
    <input type="password" [(ngModel)]="user.password" name="password" required>
  
    <button mat-raised-button type="submit" (click)="openDialog()">Bejelentkezés</button>
  
<p>{{ message }}</p> -->







<!-- <mat-dialog-content>
  <p>Regisztrációs felület</p>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Név</mat-label>
    <input matInput type="text" name="name"
    [(ngModel)]="felh.name" required #name="ngModel">
    <mat-error *ngIf="name.invalid && name.touched">
    A név megadása kötelező!
    </mat-error>
  </mat-form-field>
    <br>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email"
    [(ngModel)]="felh.email" required #email="ngModel">
    <mat-error *ngIf="email.invalid && email.touched">
    Nem megfelelő az email
    </mat-error>
  </mat-form-field>
    <br>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Jelszó</mat-label>
    <input matInput type="password" name="password"
    [(ngModel)]="felh.password" required #password="ngModel">
    <mat-error *ngIf="password.invalid && password.touched">
    Legalább 8 karakter hosszú legyen a jelszó!
    </mat-error>
  </mat-form-field>
</mat-dialog-content> -->
<!-- <mat-dialog-actions>
   <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="login()" cdkFocusInitial>Ok</button> 
</mat-dialog-actions> -->