
    <div class="row">
        <app-header></app-header>
    </div>
    <div class="row">
        <h1 class="text-center">Kosár</h1>
    </div>
    <div class="row">
        <div class="sor"> <!--A kép ideiglenes-->
            <img src="assets/images/zsomle.png" width="10%">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem distinctio atque quis amet, magni animi, voluptates aliquam deleniti possimus, saepe perferendis numquam quasi blanditiis corrupti omnis maiores ducimus. Nihil, repellat!
            Necessitatibus inventore sunt illum vitae? Quibusdam eum, eveniet cupiditate, quam molestiae aspernatur sunt, sapiente corrupti suscipit doloremque deleniti. Minima nihil a ullam nobis ipsa corrupti vero vitae saepe voluptas maiores!</p>
           <!--  <ul class="list-group">
                <li class="list-group-item"><input type="text" [(ngModel)]="ujTermek" placeholder="Új termék"><button class="btn btn-primary float-end" (click)="hozzaad()">Hozzáadás</button></li>
                <li class="list-group-item" *ngFor="let adat of adatok; index as i">{{adat}} <button class="btn btn-danger float-end" (click)="torol(i)">Töröl</button></li>
            </ul> -->
        </div>
    </div>
    <div class="row">
        <app-footer></app-footer>
    </div>