.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #925c3e;
    height: 110px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.bal {
    grid-column: 4/6;
}
.jobb {
    grid-column: 10/13;
}

a {
    margin-right: 5px;
    text-decoration: none;
    color: #fbe5cf;
}

a:hover {
    color: #fff6ed;
}